#weather {
  position: absolute;
  right: 50px;
  top: 70px;
  width: 230px;
  border-radius: 14px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

#weather .boxCont {
  padding: 15px;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
}

#weather .boxCont h3 {
  width: 100%;
  font-size: 15px;
  margin-bottom: 7px;
  font-weight: 700;
}

#weather .boxCont .city {
  width: 100%;
}

#weather .boxCont img {
  width: 45px;
}
#weather .boxCont .temp {
  font-size: 28px;
}
